.flow_dialog{
	height:400px;
	overflow: scroll-y;
}

.dialog_div {
	border: 1px solid black;
	display: none;
}

.redalert {
	border: 1px solid red;
}

.greenalert {
	border: 1px solid green;
}

.togglecheck{
	visibility: hidden;
}