#container {
	overflow: auto;
	max-height: 500px;
}
.flow_dialog{
	height:400px;
	overflow: scroll-y;
}
body {
	
}

label {
	width: 150px;
	float: right;
}

input:not([type="radio"]),select {
	display: block;
}

.dialog_div {
	border: 1px solid black;
	display: none;
}

.redalert {
	border: 1px solid red;
}

.greenalert {
	border: 1px solid green;
}

.unchecked {
	border: 1px solid red;
}

.checked {
	border: 1px solid green;
}
.togglecheck{
	visibility: hidden;
}